$default-color: rgb(58, 56, 56);

.login {
  background-color: $default-color;
  height: 30em;
  &--panel {
    background-color: gray;
    border: 2px dashed blue;
    width: 12em;
    height: 22em;
    margin: 1em;
    padding: 1em;
    &--header {
      border: 1px dotted red;
      background: gray;
      &-logo {
        border: 1px dotted red;
        background: orange;
        width: 80px;
      }
      &-title {
        font-size: 1.2em;
        font-weight: bold;
        text-align: left;
      }
    }
    &--form {
      border: 1px dotted blue;
      font-size: 1em;
      padding-bottom: 1em;
      &-control {
        border: 1px dashed;
        margin-top: 1em;
        &-label {
          border: 1px dashed;
        }
        &-input {
          // border: 1px dashed;
          border-radius: 3px;
          height: 25px;
          width: 170px;
          margin-top: 0.5em;
        }
      }
      &-control + &-control {
        padding: 0.5em 0;
      }
      &-button-container {
        border: 1px solid purple;
        display: flex;
        justify-content: center;
        &--button {
          background-color: orange;
          width: 150px;
          height: 28px;
          border: none;
          border-radius: 3px;
          font-size: 1em;
          font-weight: bold;
        }
      }
    }
    &--footer {
      display: flex;
      justify-content: center;
    }
  }
}

.container {
  display: flex;
}

.login-2 {
  &--panel {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid;
    height: 400px;
    justify-content: space-evenly;
    &--header,
    &--form {
      border: 1px dotted orange;
      display: flex;
      flex-direction: column;
      // justify-content: space-evenly;
    }
    &--header {
      background: green;
      align-items: flex-start;
      &-logo {
        width: 80px;
        border: dotted;
      }
      &-title {
        font-size: 1.5em;
      }
    }
    &--form {
      background: yellowgreen;
      height: 260px;
      justify-content: space-around;

      &-control {
        flex-direction: column;
        display: flex;
        justify-content: space-around;
        &-label {
          font-size: 1em;
          padding: 0.2em 0;
        }
        &-input {
          height: 2.5em;

          background: red;
        }
      }
      &-checkbox-group {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        &-checkbox {
          font-size: 1em;
        }
        &-text {
          font-size: 0.8em;
        }
      }
      &-button-container {
        border: solid;
        display: flex;
        justify-content: center;
        padding: 1em;
        &--button {
          background-color: olivedrab;
          height: 2em;
          border: dotted;
          // flex-grow: 1;
          // width: ;
        }
      }
    }
    &--footer {
      display: flex;
      background: gray;
      justify-content: center;
    }
  }
}
